html,
body
  height 100%
  
body
  display flex
  flex-direction column
  height 100%
  
.b-page-content
  flex 1 0 auto

.b-footer
  flex 0 0 auto
  
.b-header
  text-align left
  
.b-footer
  text-align left