meta( charset="utf-8" )
meta( name="keywords", content="")
meta( name="description", content="")
meta( name="viewport" content="width=device-width, initial-scale=1" )

meta( property="og:title" content="{%= title %}" )
meta( property="og:description" content="{%= description %}" )
meta( property="og:image" content="logo.svg" )
meta( property="og:type" content="website" )
meta( property="og:url" content= "http://{%= domain %}-markup.2px.ru"  )